.thumbnail {
  span.curtain-t {
    height: 0px;
    @apply top-0 left-0 w-full #{!important};
  }

  span.curtain-b {
    height: 0px;
    @apply bottom-0 left-0 w-full #{!important};
  }

  span.curtain-l {
    width: 0px;
    @apply top-0 left-0 h-full #{!important};
  }

  span.curtain-r {
    width: 0px;
    @apply top-0 right-0 h-full #{!important};
  }

  div.curtain-t {
    top: -100%;
    @apply -top-full;
  }

  div.curtain-b {
    bottom: -100%;
    @apply -bottom-full;
  }

  div.curtain-l {
    left: -100%;
    @apply top-0 #{!important};
  }

  div.curtain-r {
    right: -100%;
    @apply top-0 #{!important};
  }

  &:hover {
    span.curtain-b,
    span.curtain-t {
      animation: curtain-animation-y 0.5s forwards;
    }

    span.curtain-l,
    span.curtain-r {
      animation: curtain-animation-x 0.5s forwards;
    }

    div.curtain-t {
      animation: curtain-animation-text-t 0.5s forwards;
    }

    div.curtain-b,
    div.curtain-r {
      animation: curtain-animation-text-b 0.5s forwards;
    }

    div.curtain-l {
      animation: curtain-animation-text-l 0.5s forwards;
    }

    div.curtain-r {
      animation: curtain-animation-text-r 0.5s forwards;
    }
  }
}

@keyframes curtain-animation-y {
  0% {
    height: 0px;
  }
  60% {
    height: 100%;
  }
  70% {
    height: 95%;
  }
  80% {
    height: 100%;
  }
  95% {
    height: 97%;
  }
  to {
    height: 100%;
  }
}

@keyframes curtain-animation-x {
  0% {
    width: 0px;
  }
  60% {
    width: 100%;
  }
  85% {
    width: 95%;
  }
  90% {
    width: 100%;
  }
  95% {
    width: 98%;
  }
  to {
    width: 100%;
  }
}

@keyframes curtain-animation-text-t {
  0% {
    top: -100%;
  }
  60% {
    top: -0px;
  }
  85% {
    top: -5%;
  }
  90% {
    top: -0px;
  }
  95% {
    top: -1%;
  }
  to {
    top: -0px;
  }
}

@keyframes curtain-animation-text-b {
  0% {
    bottom: -100%;
  }
  60% {
    bottom: -0px;
  }
  85% {
    bottom: -5%;
  }
  90% {
    bottom: -0px;
  }
  95% {
    bottom: -1%;
  }
  to {
    bottom: -0px;
  }
}

@keyframes curtain-animation-text-l {
  0% {
    left: -100%;
  }
  60% {
    left: -0px;
  }
  85% {
    left: -5%;
  }
  90% {
    left: -0px;
  }
  95% {
    left: -1%;
  }
  to {
    left: -0px;
  }
}

@keyframes curtain-animation-text-r {
  0% {
    right: -100%;
  }
  60% {
    right: -0px;
  }
  85% {
    right: -5%;
  }
  90% {
    right: -0px;
  }
  95% {
    right: -1%;
  }
  to {
    right: -0px;
  }
}

/* .explode-animation {
  animation: explode 0.9s forwards;
}

.displode-animation {
  animation: displode 0.5s forwards;
}

@keyframes explode {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  100% {
    width: 1400px;
    height: 1400px;
    margin-left: -700px;
    margin-top: -700px;
  }
}

@keyframes displode {
  0% {
    width: 1400px;
    height: 1400px;
    margin-left: -700px;
    margin-top: -700px;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
}

.dim {
  animation: dim 0.5s forwards;
}

.appear {
  animation: appear 0.8s forwards;
}

@keyframes dim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
