.glitch-rgb {
  font-family: 'FourBit';

  @apply flex text-white relative text-3xl md:text-2xl lg:text-3xl items-center my-0 mx-3 translate-x-0 #{!important};

  &::before,
  &::after {
    top: 0.04em;
    content: attr(data-glitch);

    @apply block absolute opacity-80  #{!important};
  }

  &::after {
    color: #f0f;
    z-index: -2;
  }

  &::before {
    color: #0ff;
    z-index: -1;
  }

  &:hover {
    @apply text-white #{!important};

    &::before {
      animation: glitch-rgb 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    }

    &::after {
      animation: glitch-rgb 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
        reverse;
    }
  }
}

@keyframes glitch-rgb {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(3px, 0px);
  }
  25% {
    transform: translate(5px, 2px);
  }
  50% {
    transform: translate(-4px, -3px);
  }
  60% {
    transform: translate(2px, 5px);
  }
  85% {
    transform: translate(4px, 0px);
  }
  90% {
    transform: translate(2px, -3px);
  }
  to {
    transform: translate(0);
  }
}
