.directory-list {
  & ul {
    border-left: 2px dashed var(--gray);
  }

  & li {
    list-style: none;
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
  }

  & span:hover {
    cursor: pointer;
    text-decoration: underline !important;
  }
}

.text-orange {
  color: var(--orange);
}
