@media (min-width: 34em) {
  .card-columns {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
}

@media (min-width: 48em) {
  .card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }
}

@media (min-width: 62em) {
  .card-columns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
  }
}

@media (min-width: 75em) {
  .card-columns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
  }
}

.limit-md {
  max-width: 700px !important;
}
.limit-xl {
  max-width: 800px !important;
}
.limit-xxl {
  max-width: 1100px !important;
}
