.color-picker {
  padding-bottom: 1rem;
  box-shadow: 0 6px 12px #999;
  border-radius: 0.25rem;
  // background: $light;

  position: absolute;
  z-index: 2;

  & .react-colorful {
    width: auto;
    padding: 16px;
    padding-bottom: 0px;
    // background: $light;

    border-radius: 0.25rem;
  }

  & .react-colorful__saturation {
    width: auto;

    margin: 16px 0;
    border-bottom: none;
    border-radius: 0.25rem !important;
  }

  & .react-colorful__hue {
    order: -1;
    height: 14px;
    border-radius: 0.5rem;
  }

  & .react-colorful__hue-pointer {
    width: 20px;
    height: 20px;
  }
}

.color-view {
  width: 2rem;
  height: 2rem;
  // border: 2px solid $dark;
  border-radius: 0.25rem !important;
  transition-duration: 200ms;
  display: flex;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 576px) {
    & {
      width: 3rem;
      height: 3rem;
    }
  }
  @media (min-width: 768px) {
    & {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  @media (min-width: 992px) {
    & {
      width: 3rem;
      height: 3rem;
    }
  }

  @media (min-width: 1200px) {
    & {
      width: 3rem;
      height: 3rem;
    }
  }
}
